.registerContainer{
    @apply pt-8 overflow-hidden min-h-screen max-h-screen bg-[#1D1D1F] text-white;
}

.registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.userInput{
    margin:0.5rem;
    width:100%;
    border-radius: 8px;
    border: #1D1D1F;
    font-family: Inter;
    padding-left: 1rem;
    font-size: 1.5rem;
    height: 4rem;
}

.registerButton{
    /* width: 12rem; */
    /* height: 3.5rem; */
    /* padding:1rem; */
    /* font-size: 1.5rem; */
    @apply text-center flex flex-col items-center w-[12rem] h-12 text-xl pt-3 mt-3;
}

.registerContainer p{
    @apply text-center text-white p-3
}

.registerHeading{
    color: white;
    text-align: center;
    padding-top: 2rem;
    font-size: 3rem;
}
